@import '../../../styles-filter.scss';
@import '../../../styles-boje.scss';

input {
  @extend .input-background;
}

.serije-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;

  th, td {
    border: 2px solid #bab7b7;
    padding: 8px;
    text-align: center; 
  }
}

$button-color: #4c8eaf;
$button-hover-color: #362795;

.details-button {
  padding: 6px 10px;
  background-color: $button-color;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $button-hover-color;
  }
}
